<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Performance feedback for <%= performer.name %></h1>
    <p>
      Your performance feed back is illustrated in the following display.
      <br>
    </p>
    <%= image_tag attachments['performance.png'].url %>
    <p>
      Send any questions or comments to <%= provider.email %>.
    </p>
    <p>
      Regards,
        <%= provider.name %>
    </p>
  </body>
</html>
